<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>

        <!-- properties -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/montagnesdor?autoReconnect=true</property>
        <property name="hibernate.connection.username">montagnesdor</property>
        <property name="hibernate.connection.password">powermdo</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="dialect">net.sf.hibernate.dialect.PostgreSQLDialect</property>
        <!--  Défini la profondeur maximale d'un arbre de chargement par jointures ouverte pour les associations à cardinalité unitaire (un-à-un, plusieurs-à-un) -->
        <property name="hibernate.max_fetch_depth">3</property>

		<!--### Apache DBCP Connection Pool ###-->
      	<!--connection pool-->
      	<property name="hibernate.dbcp.maxActive">10</property>
      	<property name="hibernate.dbcp.whenExhaustedAction">1</property>
      	<property name="hibernate.dbcp.maxWait">20000</property>
      	<property name="hibernate.dbcp.maxIdle">10</property>

      	<!-- prepared statement cache-->
      	<property name="hibernate.dbcp.ps.maxActive">10</property>
      	<property name="hibernate.dbcp.ps.whenExhaustedAction">1</property>
      	<property name="hibernate.dbcp.ps.maxWait">20000</property>
      	<property name="hibernate.dbcp.ps.maxIdle">10</property>

      	<!-- optional query to validate pooled connections:-->
      	<property name="hibernate.dbcp.validationQuery">select 1</property>
      	<property name="hibernate.dbcp.testOnBorrow">true</property>
      	<property name="hibernate.dbcp.testOnReturn">true</property>
        
        <property name="show_sql">false</property>        
        <property name="transaction.factory_class">
             net.sf.hibernate.transaction.JDBCTransactionFactory
        </property>
        <property name="hibernate.cache.provider_class">
             net.sf.hibernate.cache.HashtableCacheProvider
        </property>

        <!-- mapping files -->
		<!-- Ne doit contenir que les requêtes de l'application -->        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/MontagnesDOrQueries.hbm.xml"/>                
        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/Locale.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/LocaleLanguage.hbm.xml"/>        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/Cashing.hbm.xml"/>        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/DinnerTable.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/VatTable.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/ProductPart.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/ProductPartLanguage.hbm.xml"/>        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/OrderLine.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/ValueAddedTax.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/Product.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/ProductSpecialCode.hbm.xml"/>
		<mapping resource="fr/montagnesdor/restaurant/model/hibernate/ProductLanguage.hbm.xml"/>        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/Category.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/CategoryLanguage.hbm.xml"/>        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/CategoryRelation.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/TypeTable.hbm.xml"/>                        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/TypeTableLanguage.hbm.xml"/>                                
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/DayRevenue.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/StatsConsumptionProduct.hbm.xml"/>        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/VatRevenue.hbm.xml"/>
        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/UserPhone.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/UserEmail.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/UserAddress.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/UserRole.hbm.xml"/>        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/UserRoleLanguage.hbm.xml"/>        
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/UserAuthentication.hbm.xml"/>
        <mapping resource="fr/montagnesdor/restaurant/model/hibernate/User.hbm.xml"/>
		<mapping resource="fr/montagnesdor/restaurant/model/hibernate/UserLocale.hbm.xml"/>

    </session-factory>

</hibernate-configuration>

